/* tablet device */
@media screen and (max-width:1200px) and (min-width:768.55px) {
    /* navbar style */
    .logo{
        gap: 5px;
    }
    .logo img{
        height: 30px;
        width: 25%;
    }
    .navbar .list ul{
        gap: 25px;
        font-size: 16px;
    }
    .navbar .list ul li:last-child{
        padding: 16px 20px;
        gap: 20px;
    }
    .navbar .list .icon{
        gap: 10px;
    }

    /* banner */
    .immediately{
        width:10%;
    }

    /* online game section */
    .online-game-container{
        max-width: 950px;
    }
    .online-game-title{
        font-size: 40px;
    }
    .online-game-subtitle{
        font-size: 16px;
    }
    .online-game-row{
        grid-template-columns: 1fr 1fr;
        text-align: left;
        gap: 50px 20px;
    }
    .online-game-img-container{
        height: 500px;
    }
    .online-game-img-container:hover{
        border-radius: 20px;
    }
    .online-game-img{
        border-radius: 20px;
    }
    .play-btn{
        top: -290px;
    }
    .online-game-row p{
        text-align: center;
    }

    /* multi games responsive */
    .multi-games{
        gap: 20px;
    }
    .multi-container{
        gap: 10px;
    }
    .multi-container img{
        width: 27%;
    }
    .multi-container h6{
        font-size: 15px;
        font-weight: 600;
    }

    /* footer responsive */
    .foot-list ul{
        padding: 0 80px;
    }

}



@media screen and (max-width:1000px) and (min-width:768.55px) {
    /* banner style */
    .banner-col{
        width: 50%;
        align-items: center;
    }
    .immediately{
        width:1%;
        left: -800px;
        margin-top: -180px;
    }
    .banner-subtitle{
        font-size: 25px;
        font-weight: 700;
    }
    .banner-title{
        font-size: 80px;
        font-weight: 700;
    }
    .banner-list{
        font-size: 18px;
        font-weight: 500;
    }
    .banner-list li span{
        margin-left: 0;
    }
    .banner-btn{
        border-width: 2px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 48px;
        padding: 17px 35px;
        margin-right: 0;
    }
}





/* mobile device */

@media screen and (max-width:768.56px) {
    /* navbar responsive*/
    nav{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0);
    }
    .navbar{
        flex-direction: column;
        padding: 100px 0 70px;
    }
    .logo{
        justify-content: center;
        margin-bottom: 60px;
    }
    .navbar .list ul{
        flex-direction: column;
        row-gap: 40px;
    }
    .banner-row{
        flex-direction: column-reverse;
        padding: 0 10px;
    }
    .banner-col{
        width: 100%;
    }
    .immediate{
        max-width: 450px;
        margin: auto;
    }
    .immediately{
        width: 1%;
        top: 0;
        left: -900px;
    }

    /* online game responsive */
    .online-game-row{
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
    .online-game-img-container{
        margin: auto;
        height: 500px;
        width: 80%;
    }
    .online-game-img-container:hover{
        border-radius: 25px;
    }
    .online-game-img{
        border-radius: 25px;
    }
    .play-btn{
        top: -300px;
    }
    .online-game-row p{
        text-align: center;
        padding: 24px 100px;
    }
    
    /* multi games responsive */
    .multi-games{
        gap: 15px;
    }
    .multi-container{
        gap: 8px;
    }
    .multi-container img{
        width: 25%;
    }
    .multi-container h6{
        font-size: 16px;
        font-weight: 500;
    }

    /* footer responsive */
    .foot-container{
        max-width: 370px;
        margin: auto;
    }
    .foot-icon{
        padding: 55px 40px 65px;
    }
    .foot-service ul{
        justify-content: space-between;
    }
    .copyright{
        padding: 70px 65px 0;
    }
    
}





/* specialy for play instantly section responsive
 & specialy for play games section responsive */
@media screen and (max-width:1300px) and (min-width:768.55px) {
    /* play instantly */
    .play-instantly-description{
        width: 300px;
    }
    .play-instantly-description h3{
        font-size: 40px;
        line-height: 50px;
    }
    .play-instantly-description p{
        font-size: 16px;
        line-height: 25px;
    }
    .play-instantly-first-img{
        width: 100%;
    }
    .play-instantly-last-img img{
        width: 50%;
    }
    .play-instantly-last-img{
        text-align: left;
        margin: -250px 0 0 -50px;
    }
    /* play games */
    .play-games-col-1{
        width: 55%;
    }
    .play-games-col-2{
        width: 45%;
    }
    .play-games-description{
        width: 350px;
    }
    .play-games-description h3{
        font-size: 40px;
        line-height: 50px;
    }
    .play-games-description p{
        font-size: 16px;
        line-height: 25px;
    }
    .play-games-first-img{
        width: 100%;
    }
    .play-games-last-img img{
        width: 50%;
    }
    .play-games-last-img{
        text-align: right;
        margin: -250px -50px 0 0;
    }
}
@media screen and (max-width:1000px) and (min-width:768.55px) {
    /* play instantly */
    .play-instantly-last-img{
        text-align: left;
        margin: -170px 0 0 -50px;
    }
    .play-instantly-last-img img{
        width: 40%;
    }
    /* play games */
    .play-games-last-img{
        text-align: right;
        margin: -170px -50px 0 0;
    }
    .play-games-last-img img{
        width: 40%;
    }
}
@media screen and (max-width:850px) and (min-width:768.55px) {
    /* play instantly */
    .play-instantly-col-1{
        justify-content: start;
    }
    /* play games */
    .play-games-col-1{
        justify-content: end;
    }
}


@media screen and (max-width:768.56px){
    /* play instantly */
    .play-instantly-row{
        flex-direction: column;
    }
    .play-instantly-col{
        width: 100%;
    }
    .play-instantly-description{
        width: 470px;
    }
    .play-instantly-description h3{
        text-align: center;
        padding: 0 30px 70px;
    }
    .play-instantly-description p{
        text-align: center;
        padding-bottom:  100px;
    }
    .play-instantly-first-img{
        width: 84%;
    }
    .play-instantly-last-img{
        margin: -210px 0 0 -10px;
    }
    .play-instantly-last-img img{
        width: 40%;
    }
    /* play games */
    .play-games-row{
        flex-direction: column-reverse;
    }
    .play-games-col{
        width: 100%;
    }
    .play-games-description{
        width: 485px;
    }
    .play-games-description h3{
        text-align: center;
        padding: 0 0 50px;
    }
    .play-games-description p{
        text-align: center;
        padding-bottom:  100px;
    }
    .play-games-first-img{
        width: 84%;
    }
    .play-games-last-img{
        margin: -210px -10px 0 0;
    }
    .play-games-last-img img{
        width: 40%;
    }
}
@media screen and (max-width:600px){
    /* play instantly */
    .play-instantly-last-img{
        margin-top: -170px;
    }
    /* play games */
    .play-games-last-img{
        margin-top: -170px;
    }
}